.b-button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .b-button:disabled {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default; }
    .b-button:disabled:hover {
      background-color: #DFDFDF;
      color: #9F9F9F; }
  .b-button:hover {
    background-color: N/A;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.b-form {
  float: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  width: 50%; }
  .b-form__error {
    color: red; }

.g-center, .b-board, .b-form__button--center, .g-names, .b-game, .b-page, .b-menu, .b-page__header {
  text-align: center; }

.g-float-left, .b-form__button--left, .g-you, .g-yourSquare {
  float: left !important; }

.g-float-right, .b-form__button--right, .g-opponent, .g-oppSquare {
  float: right !important; }

.g-you {
  color: black; }

.g-opponent {
  color: black; }

.g-names {
  width: 620px;
  height: 50px; }

.g-yourSquare {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ffff00;
  left: 10px;
  top: 3px; }

.g-oppSquare {
  position: relative;
  width: 30px;
  height: 30px;
  background: #d50000;
  right: 10px;
  top: 3px; }

.g-red {
  color: #d50000; }

.g-yellow {
  color: #ffff00; }

.b-menu {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .b-menu__link {
    text-transform: uppercase;
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: black;
    text-align: center; }
    .b-menu__linkactive {
      background-color: #fff;
      color: #eafaf9; }
    .b-menu__link:not(.active):hover {
      background-color: #ddd; }
    .b-menu__link:last-child {
      border-bottom: none; }

.b-page, .b-board, .b-game, .b-menu, .b-page__header {
  margin: 0 auto;
  min-width: 620px;
  width: 90%; }

.b-row, .b-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.b-shia {
  position: fixed;
  bottom: 0px;
  z-index: 99999;
  right: 0px;
  height: 530px;
  width: 720px;
  pointer-events: none; }
  .b-shia__container {
    width: 720px;
    overflow: hidden;
    display: block;
    height: 535px; }
    .b-shia__container video {
      margin-top: -5px;
      max-width: none;
      padding: 0; }

@media only screen and (min-width: 601px) {
  .b-page, .b-board, .b-game, .b-menu, .b-page__header, .b-page__header, .b-menu, .b-board, .b-game {
    width: 85%; } }

@media only screen and (min-width: 993px) {
  .b-page, .b-board, .b-game, .b-menu, .b-page__header, .b-page__header, .b-menu, .b-board, .b-game {
    width: 70%; } }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

button:focus {
  outline: none;
  background-color: #fff; }
