@import "board";
@import "button";
@import "form";
@import "g";
@import "game";
@import "menu";
@import "page";
@import "row";
@import "shia";

@media only screen and (min-width : 601px) {
  .b-page , .b-page__header, .b-menu, .b-board, .b-game {
    width: 85%; }
}
@media only screen and (min-width : 993px) {
  .b-page, .b-page__header, .b-menu, .b-board, .b-game {
    width: 70%; }
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

button:focus {
  outline: none;
  background-color: #fff; }